#JAVA
proj/*/bin/**
proj/*/build/
*.log
*.class
*.jar

HELP.md
.gradle
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
/proj/*/bin
/proj/hypo.admin.papi/src/main/resources/application.properties
